extends ../layout

block content
  div.container
    if name
      h1 #{name}
      hr
      if user && user.name === createdBy
        div.pull-right
          a(href='/course/#{id}/edit', class='btn') Edit Course
      ul(class='nav nav-pills', role='tablist')
        li(role='presentation', class='active')
          a(href='/course/#{id}') Exercises
        li(role='presentation')
          a(href='#') TBD
      hr
    else
      div(class='alert alert-danger', role='alert') Course #{id} doesn't exist.